*{
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: segoe_b;
  src: url(fonts/Segoe_UI_Bold.woff);
}
@font-face {
  font-family: segoe_r;
  src: url(fonts/Segoe_UI.woff);
}
body {
  font-family: segoe_r;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #747a80;
  text-align: left;
  background-color: #fafafa;
}
h1, h2, h3, h4, h5, p, ul, a{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  list-style: none;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}
.selected_btn{
  background-image: linear-gradient(to right, #ff7a7b, #e73105) !important;
  color: #fff !important;
  border-image: linear-gradient(to right, #ff7a7b, #e73105) !important;
}
.unselected_btn{
  background-image: linear-gradient(to left, #44dbcf, #2de79d) !important;
  color: #fff !important;
  border-image: linear-gradient(to right, #44dbcf, #2de79d) !important;
}
.unselected_btn i{
  color:inherit !important;
}
.selected_btn i{
  color:inherit !important;
}