*{
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: segoe_b;
  src: url(fonts/Segoe_UI_Bold.woff);
}
@font-face {
  font-family: segoe_r;
  src: url(fonts/Segoe_UI.woff);
}
.g_wrapper .for_embed {
  display: flex;
  flex-wrap: wrap;
}
body {
  font-family: segoe_r;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #747a80;
  text-align: left;
  background-color: #fafafa;
}
h1, h2, h3, h4, h5, p, ul, a{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  list-style: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}
select{
  background: #fff url(/images/selection_arrow.png) no-repeat scroll 93%!important;
  background-size: 13px 7px!important;
  padding-right: 35px !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}
.selected_btn{
  background-image: linear-gradient(to right, #ff7a7b, #e73105) !important;
  color: #fff !important;
  border-image: linear-gradient(to right, #ff7a7b, #e73105) !important;
}
.unselected_btn{
  background-image: linear-gradient(to left, #44dbcf, #2de79d) !important;
  color: #fff !important;
  border-image: linear-gradient(to right, #44dbcf, #2de79d) !important;
}
.unselected_btn i{
  color:inherit !important;
}
.selected_btn i{
  color:inherit !important;
}


.gradient_sky{
  background-image: linear-gradient(to right, #52d4ea, #868ef9);
}


.gradient_red{
  background-image: linear-gradient(to right, #ff7a7b, #e73105);
}

.gradient_yellow{
  background-image: linear-gradient(to right, #ff8206, #f6bc84);
}

.border_gradient_sky{
   border-color: linear-gradient(to right, #52d4ea, #868ef9);
}


.border_gradient_red{
  border-color:#ff7a7b !important; 
}

.border_gradient_yellow{
  border-color : #868ef9 !important;
}
.border_gradient_sky{
   border-color:#52d4ea !important;
}
.same_slected_list.border_gradient_red{
  background-image: linear-gradient(to right, #ff7a7b, #e73105) !important; 
  color:#fff !important;;
}

.same_slected_list.border_gradient_yellow{
  background-image: linear-gradient(to right, #ff8206, #f6bc84)!important;
    color:#fff !important;;
}
.same_slected_list.border_gradient_sky{
   background-image: linear-gradient(to right, #52d4ea, #868ef9) !important;
     color:#fff !important;; 
}
.same_slected_list.border_gradient_red i{
  color:inherit !important;
}

.same_slected_list.border_gradient_yellow i{
  color:inherit !important;
}
.same_slected_list.border_gradient_sky i{
  color:inherit !important;
}